* {
  margin: 0%;
  padding: 0%;
}

canvas {
  display: block;
}
.container1 {
  margin: 0;
  padding: 0;
  top: -90px;
  justify-content: center;
  transform: translateX(150px);
  align-items: center;
}

.special-card {
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  margin: 0 auto;
}

h3.display-6 {
  font-family: futura;
  font-style: italic;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #313131;
  font-size: 40px;
  font-weight: bold;
  padding-right: 20px;
  margin-left: -1px;
  position: relative;
  animation: colorchange 1s infinite;
  -webkit-animation: colorchange 20s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: rgb(255, 102, 0);
  }
  10% {
    color: #dbff0d;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #66d300;
  }
  40% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: #bed5ff;
  }
  60% {
    color: rgb(0, 225, 255);
  }
  70% {
    color: #fa1a1a;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

div.container-fluid {
  margin: 0;
  padding: 0;
  background-color: rgba(51, 116, 168, 0.253);
  background-image: linear-gradient(
    to right,
    rgb(221, 127, 127),
    rgb(114, 114, 221),
    rgb(94, 235, 38)
  );
}

.navbar-text h7 {
  padding-left: 13em;
}

img.img-thumbnail {
  border: 2px solid black;
}

#example {
  margin-top: 60px;
}

#example:hover {
  text-decoration: underline;
}

h5.text {
  text-align: Center;
}

div.d-flex {
  margin-left: 2em;
}
